xsd/location.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
            xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance">

    <xs:element name = "location">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "name" type = "xs:string" />
                <xs:element name = "type" type = "xs:string" />
                <xs:element name = "street" type = "xs:string" />
                <xs:element name = "number" type = "xs:string" />
                <xs:element name = "city" type = "xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>