xsd/room.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
    xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance">

    <xs:element name = "room">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "locationId" type = "xs:positiveInteger" />
                <xs:element name = "name" type = "xs:string" />
                <xs:element name = "floor" type = "xs:integer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>