xsd/sensorTypeThreshold.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
    xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance">

    <xs:element name = "sensorTypeThreshold">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "deviceUuid" type = "xs:string" />
                <xs:element name = "typeName" type = "xs:string" />
                <xs:element name = "minValue" type = "xs:integer" />
                <xs:element name = "maxValue" type = "xs:integer" />
                <xs:element name = "duration" type = "xs:integer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>