xsd/user.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
            xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance">

    <xs:element name = "user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "name" type = "xs:string" />
                <xs:element name = "email" type = "xs:string" />
                <xs:element name = "phoneNumber" type = "xs:positiveInteger" />
                <xs:element name = "password" type = "xs:string" />
                </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>